.container {
  height: 100vh;
  overflow: auto;

  .card-character {
    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.logo {
  width: 20%;
}


.thumbnails {
  width: 50%;
  border-radius: 20px;
}
