<div class="container w-100 position-relative">
  <div class="text-center mt-3">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjmHn7hDycWvYvGnj50dxygz2EUz8MBKKCqg&s">
    <h2 class="display-4 text-center m-3">Lista favoritos</h2>
  </div>

  <div class="text-center mt-5">
    <p>
      No tienes items añadidos todavía
    </p>
    <button type="button" class="btn btn-light text-white bg-dark" routerLink="/list-marvel-characters">Ver lista de personajes</button>
  </div>


</div>
