.container-login{
  height: 100vh;

  .content {
    overflow: auto;
    padding: 150px 0 120px;

    form {
      width: 95%;
      max-width: 500px;
      margin-left: 3%;

      .passwordInput {
        width: 85%;
        margin-left: 3%;
      }

      .show-password {
        i {
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}
